a {
  cursor: pointer;
}

.card .card-buttons-hover-show {
  display: none;
  bottom: 1.0rem;
  position: absolute;
  /* left: 34%; */
  width: 100%;
  text-align: center;
  left: 0;
}
.card:hover .card-buttons-hover-show {
  display: block;
}

.tile-view-card-title {
  text-shadow: #000 0 0 1px, #000 0 0 1px, #000 0 0 1px,
                #000 0 0 1px, #000 0 0 1px, #000 0 0 1px;
  -webkit-font-smoothing: antialiased;
  color: white;
  font-size: 1.70rem;
}

.tile-view-card-id {
  text-shadow: #eee 0 0 1px, #eee 0 0 1px, #eee 0 0 1px,
                #eee 0 0 1px, #eee 0 0 1px, #eee 0 0 1px;
  -webkit-font-smoothing: antialiased;
  color: #decad9;
  font-size: 1.8rem;
  position: absolute;
  bottom: 0px;
  left: 50%;
}

.table-view-card-id {
  text-shadow: #eee 0 0 1px, #eee 0 0 1px, #eee 0 0 1px,
                #eee 0 0 1px, #eee 0 0 1px, #eee 0 0 1px;
  -webkit-font-smoothing: antialiased;
  color: #ca9dbe;
  font-size: 1.4rem;
}

.city-image-tile {
  filter: grayscale(100%);
}

.overlay-color {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(46, 138, 159);
  opacity: 0.7;
}

.normal-tile-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
}

.modal {
  top: 44px;
}